@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    margin: 1px auto;
    width: 100%;
    background-image: image() ;
}

html { 
    background: url(images/Moon.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .nav-{
    margin-top:167px;
    width:1024px;
    height:34px;
}

.nav-_button{
    height:34px;
    margin:0 auto;
    margin-right:10px;
    float:left;
}

hr {
    margin: 2rem 0rem;
}

:root {
    --primary-color: #facc15;
    --dark-gray: #64748b;
    --off-white: #f1f5f9;
}
/* 
.container {
  height: 200px;
  position: relative;
  border: 3px solid green;
} */
/* 
.center {
  display: block;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.7rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.7rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullets {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem
}

.navigation {
    background-color: #32325D;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 1rem;
    display: block;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.hero .hero-img {
    max-width: 250px;
    /* display: block; */
    margin: auto;
}


.hero .hero-img2 {
    max-width: 30px;
    /* display: block; */
    /* margin-left: 2rem; */
}

.hero .hero-heading {

    /* background-color: var(--off-white); */
    padding: 0rem;
    text-align: center;
    color:black;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    /* border: 1px solid black; */
    padding-top: rem;
   
    color: white;
    text-align: center;
    text-shadow: 0 0 4px #FF0000, 0 0 5px #0000FF;
    
}

.section {
    padding: 1rem;
    border-radius: 1rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

.footer {
    background-color: black;
    padding: 0.1rem 0.1rem;
    text-align: center;
    color: black;
    border-top-left-radius: 1rem;
    /* border-bottom-right-radius: 1rem; */
}

.footer .link {
    color: black;
     
}

.footer .foooter-header {
    font-weight: bold;
    font-size: larger;
text-align: left;
}

.footer .foooter-header2 {
    font-weight: bold;
    font-size: larger;
    text-align: start;

}

.footer ul {
    padding-inline-start: 0px;
}

#btn-Translate {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   #btn-Translate:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   #btn-Translate:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }


   .btn-S {
    width: 55px;
    height: 50px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #facc15;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-weight: 700; */
    position: center;
    transition: all 0.5s;
    z-index: 1;
    /* margin-bottom: 0.5rem; */
    display: inline;
   }
   
   .btn-S::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5px;
    height: 100%;
    /* background-color: var(--primary-color); */
    z-index: -1;
    transition: all 0.5s;
   }
   
   .btn-S:hover::before {
    width: 100%;
   }
   
   .btn-S:hover {
    color: white;
   }
   
   .btn-S:active:before {
    background: var(--font-color);
   }
   
   